#appContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#boardContainer {
  border: solid;
}

.square {
  height: 70px;
  width: 70px;
  border: solid;
  border-width: 1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.piece {
  height: 65px;
  width: 65px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.shaded {
  background-color: #6D6E6B;
}

.selected {
  border-color: #B03F34;
}